*.bak

*.db

*.opendb

*.db-shm

*.db-wal

*.cache

*.ipch

*.obj

*.log

*.tlog

*.pdb

*.user

EncoderH264/Debug/

EncoderH264/x264/

EncoderH264_test/bin/

EncoderH264_test/obj/

x64/Debug/

EncoderH264_test/obj/Debug/netcoreapp3.1/

EncoderH264_test/obj/Release/netcoreapp3.1/

EncoderH264_test/obj/

EncoderH264/x64/Debug/

.vs/EncoderH264/v16/


x64/Release/

EncoderH264/x64/Release/
